#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}

svg {
        width: 90%;
}



.graphDiv {
        display: flex;
        align-items: center;
        justify-content: center;
}


.buysellButtons {
        margin-bottom: 5rem;
}


.Namegraph {
        font-size: 2rem !important;
}